main.room-details-main {
    article {
        padding: 1rem;

        h2 {
            text-align: center;
            padding-top: 1rem;
        }

        h4 {
            text-align: center;
            margin-bottom: 1rem;
        }

        div.table-responsive {
            width: 100%;
            overflow-x: auto;
            margin-bottom: 1.5rem;
            height: auto;

            table {
                width: 100%;
                display: table;
                border-collapse: collapse;
                text-align: center;
                height: auto;

                thead,
                tbody {
                    tr {
                        display: table-row;
                        td,
                        th {
                            border: 1px solid grey;
                            padding: 0.5rem 1rem;
                        }
                    }
                }

                thead {
                    tr {
                        background-color: black;
                        color: white;
                    }
                }

                tbody {
                    tr {
                        td {
                            .btn {
                                font-size: 1rem;
                                padding: 0.2rem;
                                border-radius: 5px;
                                transition: all 250ms;
                                margin: 1px;
                                cursor: pointer;
                            }

                            .btn-success {
                                background-color: transparent;
                                border: 1px solid darkgreen;
                                color: darkgreen;

                                &:hover {
                                    background-color: darkgreen;
                                    color: white;
                                }
                            }

                            .btn-danger {
                                background-color: transparent;
                                border: 1px solid darkred;
                                color: darkred;

                                &:hover {
                                    background-color: darkred;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
